.card-container {
  display: inline-block;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  position: relative;
}

.slide-in-right {
  transform: translateX(100%);
  opacity: 0;
  animation: slide-in-right 0.3s forwards;
}

.slide-in-left {
  transform: translateX(-100%);
  opacity: 0;
  animation: slide-in-left 0.3s forwards;
}

.slide-out-right {
  transform: translateX(0%);
  opacity: 1;
  animation: slide-out-right 0.3s forwards;
}

.slide-out-left {
  transform: translateX(0%);
  opacity: 1;
  animation: slide-out-left 0.3s forwards;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
